@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	z-index: 0;
}
.btnLaunch {
	&1 ,&2 ,&3 ,&4 {
		padding: 10px;
		margin: 10px;
		background-color: #fff;
		border:2px solid #0057fa;
		border-radius:100px;
		&:hover{
			border:2px solid #002261;
		}
	}
}

/* Notify container */

#notifyContainer{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;	
	position: fixed;
	margin: 0 auto;
	padding: 0;
	z-index: 999;
	max-width: 320px;
}

.top {
	&_right {
		top: 0;
		left:50%;
		transform:translate(-50%,0);
		flex-direction: column-reverse;
	}
	&_left{
		top: 0;
		left:50%;
		transform:translate(-50%,0);
		flex-direction: column-reverse;
	}
}
.bottom {
	&_right{
		top: 0;
		left:50%;
		transform:translate(-50%,0);
		flex-direction: column-reverse;
	}
	&_left{
		top: 0;
		left:50%;
		transform:translate(-50%,0);
		flex-direction: column-reverse;
	}
}
/* Notify */
.alerts{
	display: flex;
	align-items: flex-start;
	margin: 10px 0 0 0;
	padding: 0 10px;
	box-sizing: border-box;
	flex-direction: column;
	font-family: sans-serif;
	width: 100%;
	border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
	font-size: 12.5px;
	transition: all 0.3 ease-out;
	
}
.alerts{
	animation: fadeIn .3s ease-in 0s 1 forwards;
	&-success {
		background-color: rgba(#d1e7dd,.96);
		color: #0f5132;
	}
	&-danger {
		background-color: rgba(#f8d7da,.96);
		color: #842029;
	}
	&-warning {
		background-color: rgba(#fff3cd,.96);
		color: #664d03;
	}
	&-info {
		background-color: rgba(#cff4fc,.96);
		color: #055160;
	}
	&> h3 {
		width: 100%;
		display: inline-block;
		font-size:12.5px;
		margin: 0;
		padding: 10px 0;
		line-height: 1.5;
	}
	&> p {
		width: 100%;
		min-height:0px;
		display: inline-block;
		font-size:12.5px;
		padding: 0 0 10px;
		margin: 0;
	}
}
.fadeOut{
	animation: fadeOut .3s ease-out 0s 1 forwards;	
}

@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadeOut {
	0% {opacity:1;}
	100% {opacity:0;}
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

@media (min-width: 769px) {
	.top {
		&_right {
			top: 0;
			bottom: auto;
			right: 10px;
			left: auto;
			transform: none;
			flex-direction: column-reverse;
		}
		&_left{
			top: 0;
			bottom: auto;
			right: auto;
			left: 10px;
			transform: none;
			flex-direction: column-reverse;
		}
	}
	.bottom {
		&_right{
			top: auto;
			bottom: 0;
			right: 10px;
			left: auto;
			transform: none;
			flex-direction: column;
		}
		&_left{
			top: auto;
			bottom: 0;
			right: auto;
			left: 10px;
			transform: none;
			flex-direction: column;
		}
	}
}